﻿@model Chompy.Models.BloggingViewModels.EditorViewModel

<!-- todo: replace prod scripts with CDNs-->
@section Scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/lib/medium-editor/dist/js/medium-editor.js"></script>
        <script type="text/javascript" src="~/lib/medium-editor-custom-html/src/custom-html.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/lib/medium-editor/dist/js/medium-editor.min.js"></script>
        <script type="text/javascript" src="~/lib/medium-editor-custom-html/src/custom-html.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>

    @*Initialize the MediumEditor*@
    <script>
        var editor = new MediumEditor('.editable');
    </script>
    <script>
        $('#Title').on('input', function () {
            var text = $('#Title').val();
            text = text.toLowerCase().replace(/[^0-9a-zA-Z ]/gi, '').replace(/ /gi, '-');
            $('#UrlPath').val(text);
        });
    </script>
}
@section Stylesheets {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/medium-editor/dist/css/medium-editor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/medium-editor/dist/css/themes/default.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/medium-editor/dist/css/medium-editor.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/medium-editor/dist/css/themes/default.min.css" asp-append-version="true" />
    </environment>
}

<form class="pure-form pure-g">
    <input asp-for="PostId" type="hidden" class="pure-input-1" />

    <div class="pure-u-1 pure-u-md-1-2">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input class="pure-input-1" asp-for="Title" />
        </div>
        <div class="form-group">
            <label asp-for="UrlPath"></label>
            <input class="pure-input-1" asp-for="UrlPath" />
        </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2">
        <div class="form-group">
            <label asp-for="SelectedBlogId"></label>
            <select asp-for="SelectedBlogId" asp-items="Model.BlogOptions"></select>
        </div>
        <div class="form-group">
            <label asp-for="TagString"></label>
            <input class="pure-input-1" asp-for="TagString" />
        </div>
    </div>

    <div class="pure-u-1">
        <div class="form-group">
            <label asp-for="Blurb"></label>
            <textarea asp-for="Blurb"></textarea>
        </div>

        <div class="form-group">
            <textarea asp-for="Content" class="editable">
        </textarea>
        </div>

        @* todo: fix, this is not displaying when validating. *@
        <div asp-validation-summary="All" class="text-danger" style="display:none;"></div>

        <div style="text-align:center">
            <button formmethod="post" asp-action="SaveDraftPost" asp-controller="Blogging" class="pure-button pure-button-primary">save as draft</button>
            <button formmethod="post" asp-action="PublishPost" asp-controller="Blogging" class="pure-button">publish post</button>
            @*<button type="submit" asp-route="" formaction="SaveDraftPost" formmethod="post" class="pure-button pure-button-primary">save as draft</button>
            <button type="submit" asp-route="" formaction="PublishPost" formmethod="post" class="pure-button">publish post</button>*@
        </div>
    </div>

    @Html.AntiForgeryToken()
</form>

@section SidebarRight {
    <div class="drafts-sidebar">
        @foreach (Post post in Model.Posts)
        {
            <a asp-area="" asp-controller="Blogging" asp-action="Editor" asp-route-id="@post.UrlPath">
                <div class="drafts-sidebar-post">
                    <h3>@post.Title</h3>
                    <p>@post.Blurb</p>
                </div>
            </a>
        }
    </div>
}