@model Chompy.Models.BloggingViewModels.PostViewModel

@{
    ViewData["Title"] = Model.Post.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Model.Post.ModifiedTimestamp</p>

@Html.Raw(Model.Post.Content)

@section SidebarRight {
    <div class="post-sidebar">
        @foreach (Post post in Model.MorePosts)
        {
            <a asp-area="" asp-controller="Blogging" asp-action="Post" asp-route-id="@post.UrlPath">
                <div class="drafts-sidebar-post">
                    <h3>@post.Title</h3>
                    <p>@post.Blurb</p>
                </div>
            </a>
        }
    </div>
}