﻿@model Chompy.Models.BloggingViewModels.PostsViewModel

@{
    ViewData["Title"] = "Posts";
}

<!-- todo: replace prod scripts with CDNs-->
@section Scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/knockout/dist/knockout.debug.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/knockout/dist/knockout.js"></script>
    </environment>

    <script type="text/javascript">
        function Post(data) {
            var self = this;


        }

        function Tags(tags) {
            var self = this;
            self.tags = tags;
        }

        function ViewModel() {
            var self = this;

            self.posts = ko.observableArray();
            self.tags = ko.observableArray("todo");

            self.toggleTagFilter = function () { }
            self.tagFilterAll = function () { }
            self.tagFilterNone = function () { }
        };

        ko.applyBindings(ViewModel);
    </script>
}

<div class="pure-g">
    @foreach (Post post in Model.Posts)
    {
        <div class="pure-u-1 pure-u-lg-1-2">
            <a asp-area="" asp-controller="Blogging" asp-action="Post" asp-route-id="@post.UrlPath">
                <div class="posts-post">
                    <h3>@post.Title</h3>
                    <p>@post.Blurb</p>
                    @foreach (PostTag postTag in post.PostTags)
                    {
                        <div class="posttag">
                            @postTag.Tag.Label
                        </div>
                    }
                </div>
            </a>
        </div>
    }
</div>

@section SidebarRight {
    <div class="tag-filters-sidebar pure-g-r">
        <div class="flexbox-center">
            <h3>filter by tag</h3>

            <button class="filter-tag" id="filter-tag-selectall" data-bind="click: tagFilterAll">
                select all
            </button>
            <button class="filter-tag" id="filter-tag-selectnone" data-bind="click: tagFilterNone">
                select none
            </button>

            <br />

            @foreach (Tag tag in Model.Tags)
            {
                <button class="filter-tag" id="filter-tag-@tag.TagId" data-bind="click: toggleTagFilter">
                    @tag.Label
                </button>
            }
        </div>
    </div>
}