﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - chompy</title>

    <environment names="Development">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
        <link rel="stylesheet" href="~/css/site.css" />
        @RenderSection("Stylesheets", required:false)
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        @RenderSection("Stylesheets", required: false)
        <!-- commented for example
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />-->
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
    
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-5">
            
            <div class="header">
                <h1 class="brand-title"><a asp-area="" asp-controller="Blogging" asp-action="Index">Keith Emanuel</a></h1>
                <h2 class="brand-tagline">Blogger?</h2>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Blogging" asp-action="About" class="pure-button">About</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Blogging" asp-action="Posts" class="pure-button">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Blogging" asp-action="Contact" class="pure-button">Contact</a>
                        </li>
                        @Html.Partial("AdminButtonsPartial")
                    </ul>
                </nav>

            </div>

            <!-- todo
            <div class="social-links">
                <a href="https://www.linkedin.com/in/keith-emanuel">
                    <img src="~/images/linkedin-logo.png" class="pure-img-responsive">
                </a>
            </div>
            -->
        </div>

        <div class="content pure-u-1 pure-u-lg-3-5">
            <div>

                @RenderBody()

                @*
                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal">
                        <ul>
                            <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                            <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                            <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">GitHub</a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="sidebar-right pure-u-1 pure-u-lg-1-5">
            @RenderSection("SidebarRight", required: false)
        </div>

    </div>

    <script type="text/javascript" src="~/js/site.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
