﻿@using Microsoft.AspNetCore.Identity
@using Chompy.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a asp-area="" asp-controller="Blogging" asp-action="Editor" class="pure-button">Editor</a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Blogging" asp-action="Admin" class="pure-button">Admin</a>
    </li>
}
