﻿* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: #aaa;
}

a {
    text-decoration: none;
    color: #518bff;
}

a:hover,
a:focus {
    /*text-decoration: underline;*/
    color: #DB1F1F;
}

:focus {
    outline: none;
}

.pure-form input[type="text"], textarea, select {
    background-color: #090909;
    color: #aaa;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.pure-form select {
    background-color: #090909;
    color: #aaa;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

h2 {
    font-size: 2.1em;
    /*color: darkslategrey;*/
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    /*color: darkslategrey;*/
}

p {
    font-size: 1.3em;
}

.display-flex {
    display: flex;
}

.flexbox-center {
    padding: 1em 0.5em;
    text-align: center;
    margin: auto;
}

.posts-post h3 {
    margin: 0 0 .5em;
}

.posts-post p {
    margin: 0 0 .5em;
}

.posttag {
    display: inline;
}

.filter-tag {
    diplay: inline;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    /*text-align: center;*/
    top: auto;
    margin: 3em auto;
}

.text-danger {
    color: red;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.brand-title,
.brand-tagline {
    margin: 0;
}

.brand-title {
    text-transform: uppercase;
}

.brand-title a {
    color: #DB1F1F;
}

.brand-tagline {
    font-weight: 300;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    /*display: inline-block;
    *display: inline;*/
    zoom: 1;
}

    .nav-item a {
        background: transparent;
        border: 2px #518bff;
        border-style: none solid;
        color: #518bff;
        margin-top: 1em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 85%;
    }

        .nav-item a:hover,
        .nav-item a:focus {
            border: 2px #DB1F1F;
            border-style: none solid;
            color: #DB1F1F;
            text-decoration: none;
        }

.social-links {
    display: none;
    margin-top: 12em;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.drafts-sidebar {
    margin: 1.3em 1.7em 1.3em;
}

.footer {
    padding: 1em 0;
}

    .footer a {
        color: #ccc;
        font-size: 80%;
    }

    .footer .pure-menu a:hover,
    .footer .pure-menu a:focus {
        background: none;
    }

blockquote {
    font-size: 1.3em;
    background: #aaa;
    color: #070707;
    border-left: 0.4em solid #ccc;
    margin: 1.0em 10px;
    padding: 0.5em 10px;
}
/*
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
*/
blockquote p {
    display: inline;
}

.medium-editor-element {
    min-height: 32em !important;
}

.medium-editor-hidden {
    display: none !important;
}

#Blurb {
    width: 100%;
}

#SelectedBlogId {
    width: 100%;
}

@media (min-width: 48em) {
    .content {
        padding: 2.7em 2.7em 0;
        margin-left: 20%;
    }

    .header {
        margin: 64% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }

    .social-links {
        display: block !important;
    }
}

.sidebar {
    background: #070707;
    color: #888888;
}

.sidebar-right {
    background: #070707;
    color: #888888;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .sidebar-right {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 20%;
    }
}

@media (min-width: 1024px) {
    .sidebar-right {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
    }
}